h2 {
    display: inline;
    background-color: blanchedalmond;
}

.span-1 {
    display: block;
    background-color: aquamarine;
}

.span-2 {
    height: 100px; /* Browser ignores for inline elements */
    width: 200px;  /* Browser ignores for inline elements */
    padding: 20px; /* Only left and right for inline */
    margin: 20px;  /* Only left and right for inline */
    border: 2px solid black;
}

div {
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
}

.div {
    display: inline-block;
    background-color: aqua;
    margin-top: 50px;
    margin: 5px;
}

/* #three {
    display: none;
} */
